# Go binary
/bin/
/obj/

# Go build artifacts
*.exe
*.test
*.out

# Vendor directory
/vendor/

# IDE and editor folders
.idea/
.vscode/

# Dependency directories
/Godeps/
/vendor/

# GoLand
/.idea/

# Log files
*.log